* {
  margin: 0;
  padding: 0;
  border: none;
}

a, a:hover {
  text-decoration: none;
}

ul, ol.li {
  list-style: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

body {
  font-family: "Inter", sans-serif;
}

@media (max-width: 1440px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 1200px) {
  .collection__modal--bg__square--close {
    top: 17% !important;
    right: 3% !important;
  }
}
@media (max-width: 1024px) {
  .collection__title select {
    margin-left: 359px !important;
  }
  .create__block img {
    width: 100%;
  }
  .cetting__searcher h2 {
    font-size: 18px !important;
    line-height: 30px !important;
  }
  .cetting__searcher--nav a {
    font-size: 15px !important;
  }
}
@media (max-width: 768px) {
  .collection__title select {
    margin-left: 232px !important;
  }
  .cetting__accordion--accord h2 {
    margin: 0 5px;
    width: 15%;
  }
  .cetting__searcher h1 {
    font-size: 25px !important;
  }
  .cetting__searcher h1 span {
    font-size: 35px !important;
  }
}
@media (max-width: 576px) {
  .collection__title select {
    margin-left: 140px !important;
  }
  .create__title {
    margin-right: 40px !important;
  }
  .create__title--circle {
    width: 81px !important;
    height: 27px !important;
  }
  .create__block h1 {
    bottom: 106px !important;
    left: 26px !important;
    font-size: 33px !important;
  }
  .cetting__accordion--accord {
    flex-direction: column !important;
    align-items: start !important;
  }
  .cetting__accordion--accord h2 {
    margin: 10px 0 !important;
    width: 100% !important;
  }
  .cetting__accordion--accord h1 {
    width: 25% !important;
  }
  .cetting__accordion--accord p {
    margin-bottom: 10px;
  }
  .footer {
    flex-direction: column !important;
  }
  .footer__nav {
    margin: 10px 0;
  }
}
@media (max-width: 451px) {
  .collection__title select {
    margin-left: 88px !important;
  }
  .cetting__searcher {
    flex-direction: column;
    align-items: center;
  }
  .cetting__input input {
    width: 180px !important;
  }
  .cetting__btn--circle {
    height: 50px !important;
    width: 22px !important;
  }
}
@media (max-width: 400px) {
  .collection__subtitle h1 {
    font-size: 12px !important;
  }
  .collection__subtitle p {
    font-size: 12px !important;
  }
  .collection__block--subtitle h1 {
    font-size: 10px !important;
  }
  .collection__block--subtitle h2 {
    font-size: 10px !important;
  }
  .create__title h2 {
    font-size: 23px !important;
  }
  .cetting__accordion--accord h1 {
    width: 45% !important;
  }
}
@media (max-width: 380px) {
  .collection__title select {
    margin-left: 56px !important;
  }
}
@media (max-width: 320px) {
  .collection__title h2 {
    font-size: 32px !important;
  }
  .collection__title select {
    margin-left: 38px !important;
  }
  .collection__subtitle h1 {
    font-size: 10px !important;
  }
  .collection__subtitle p {
    font-size: 10px !important;
  }
  .collection-image img {
    width: 95%;
    margin-left: 5px;
  }
}
#collection {
  background: black;
}
#collection .collection__title {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
#collection .collection__title h1 {
  color: #F7A659;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  padding-top: 30px;
}
#collection .collection__title h2 {
  color: #FFF;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  font-family: "inter", sans-serif;
}
#collection .collection__title select {
  color: #F7A659;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  font-size: 40px;
  background: none;
  width: 220px;
  margin-left: 455px;
}
#collection .collection__blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#collection .collection__blocks .collection__blocks--block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 345px;
  height: 91px;
  border: 1px solid #BCBCBC;
  border-radius: 13px;
  margin: 15px;
}
#collection .collection__blocks .collection__blocks--block .collection__numbers {
  color: #FFF;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  font-family: "inter", sans-serif;
  font-size: 20px;
  margin-left: 5px;
}
#collection .collection__blocks .collection__blocks--block .collection-image {
  position: relative;
}
#collection .collection__blocks .collection__blocks--block .collection-image .collection-circle {
  position: absolute;
  top: 1px;
  right: 5px;
  width: 10px;
  height: 10px;
  background: #21D605;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
}
#collection .collection__blocks .collection__blocks--block .collection-image ion-icon {
  position: absolute;
  color: #0C7BFE;
  bottom: 3px;
  right: 0;
  font-size: 21px;
}
#collection .collection__blocks .collection__blocks--block .collection__subtitle h1 {
  color: #FFF;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  font-family: "inter", sans-serif;
  font-size: 18px;
}
#collection .collection__blocks .collection__blocks--block .collection__subtitle p {
  color: #FFF;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  font-family: "inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align: start;
  line-height: 5px;
  margin-bottom: 15px;
}
#collection .collection__blocks .collection__blocks--block .collection__block--subtitle {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 15px;
}
#collection .collection__blocks .collection__blocks--block .collection__block--subtitle h1 {
  font-weight: 500;
  font-size: 13px;
  color: #21D605;
  margin-bottom: 3px;
}
#collection .collection__blocks .collection__blocks--block .collection__block--subtitle h2 {
  color: #F7A659;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  font-size: 13px;
}
#collection .collection__blocks .collection__blocks--block .collection__block--subtitle ion-icon {
  color: #C5C5C5;
}
#collection .collection__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#collection .collection__btn--circle {
  width: 38px;
  height: 66px;
  border: 1px solid #FFF;
  border-radius: 39px;
  margin-bottom: 100px;
}
#collection .collection__btn svg {
  margin-top: 130px;
}
#collection .collection__btn--button {
  background: transparent;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  padding: 20px 40px;
  border: 1px solid #FFFFFF;
  border-radius: 36px;
  cursor: pointer;
}
#collection .collection__modal {
  z-index: 9;
  display: none;
}
#collection .collection__modal--bg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.78);
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
}
#collection .collection__modal--bg__square {
  background: #be7a7a;
  border: 2px solid #2435A1;
  border-radius: 38px;
  width: 1171px;
  height: 603px;
  overflow-y: scroll;
  position: relative;
  z-index: 15;
  animation: 0.6s alternate key linear;
}
#collection .collection__modal--bg__square--close {
  position: fixed;
  font-size: 50px;
  color: wheat;
  cursor: pointer;
  top: 100px;
  right: 210px;
  animation: 0.5s alternate keys linear;
}
#collection .collection__modal--bg__square p {
  color: lightyellow;
  font-family: "snell roundhand", cursive;
  margin: 30px;
  font-size: 40px;
}

#header {
  background: black;
}
#header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header__logo {
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
}
#header .header__search {
  padding: 10px 0;
}
#header .header__search--input {
  width: 350px;
  height: 51px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 41px;
  background: transparent;
  font-weight: 500;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}
#header .header__search--input__icons {
  position: absolute;
  top: 30px;
  color: #FFFFFF;
}
#header .header__menu--item {
  font-weight: 500;
  font-size: 14px;
  color: #EEB563;
  padding: 0 10px;
  transition: 0.4s;
}
#header .header__menu--item a:hover {
  color: #EEB563;
  border-bottom: 2px solid #EEB563;
}
#header .header__icon {
  color: #FFFFFF;
}

#hero {
  background: black;
  min-height: 100vh;
}
#hero .hero__title {
  font-weight: 500;
  font-size: 20px;
  color: #EEB563;
  text-align: center;
  padding: 40px 0;
}
#hero .hero__img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#hero .hero__img--titles {
  font-weight: 500;
  font-size: 96px;
  color: #FFFFFF;
}
#hero .hero__content--title {
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  padding: 10px 0;
}
#hero .hero__border {
  position: absolute;
  top: 850px;
  left: 90px;
  width: 380px;
  height: 103px;
  border: 2px solid #FFFFFF;
  border-radius: 70px;
  transform: rotate(-90deg);
}
#hero .hero__borders {
  width: 89.44px;
  height: 32.66px;
  border: 1px solid #FFFFFF;
  border-radius: 39px;
}

#create {
  background: black;
}
#create .create__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  margin-right: 150px;
}
#create .create__title--circle {
  width: 38px;
  height: 66px;
  border: 1px solid #FFF;
  border-radius: 39px;
  width: 199px;
  height: 47px;
  margin-bottom: 90px;
}
#create .create__title--block h1 {
  color: #F7A659;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}
#create .create__title--block h2 {
  color: #FFF;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  font-family: "inter", sans-serif;
}
#create .create__title--circle2 {
  width: 38px;
  height: 66px;
  border: 1px solid #FFF;
  border-radius: 39px;
  width: 32px;
  height: 31px;
  margin-top: 100px;
}
#create .create__block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
}
#create .create__block h1 {
  color: #FFF;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  font-family: "inter", sans-serif;
  position: absolute;
  bottom: 170px;
  left: 140px;
  font-size: 52px;
}
#create .create__block svg {
  position: absolute;
  bottom: 5px;
  left: 190px;
  transform: rotate(45deg);
}

#cetting {
  background: black;
}
#cetting .cetting__title {
  padding: 40px;
}
#cetting .cetting__title h1 {
  color: #F7A659;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}
#cetting .cetting__title h2 {
  color: #FFF;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  font-family: "inter", sans-serif;
}
#cetting .cetting__title--star {
  position: relative;
}
#cetting .cetting__title--star svg {
  position: absolute;
  right: 40px;
}
#cetting .cetting__subtitle {
  display: flex;
  justify-content: space-between;
}
#cetting .cetting__subtitle h1 {
  color: #F7A659;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
#cetting .cetting__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
#cetting .cetting__btn--circle {
  width: 38px;
  height: 66px;
  border: 1px solid #FFF;
  border-radius: 39px;
  height: 173px;
  margin-top: 220px;
}
#cetting .cetting__btn svg {
  position: absolute;
  bottom: 60px;
  left: 450px;
  transform: rotate(45deg);
}
#cetting .cetting__btn button {
  background: transparent;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  padding: 20px 40px;
  border: 1px solid #FFFFFF;
  border-radius: 36px;
  cursor: pointer;
}
#cetting .cetting__btn--circle2 {
  width: 38px;
  height: 66px;
  border: 1px solid #FFF;
  border-radius: 39px;
  width: 32px;
  height: 31px;
  margin-bottom: 40px;
}
#cetting .cetting__accordion {
  width: 100%;
  margin: 30px auto 20px;
  background: #000000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  /**
   * Submenu
   -----------------------------*/
}
#cetting .cetting__accordion .accord-ion ion-icon {
  color: #FFFFFF;
  font-size: 50px;
  animation: accord-ion 1s linear;
}
#cetting .cetting__accordion .accord-ion ion-icon:active {
  transform: rotate(-90deg);
}
#cetting .cetting__accordion .link {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 42px;
  color: #4D4D4D;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #CCC;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#cetting .cetting__accordion li:last-child .link {
  border-bottom: 0;
}
#cetting .cetting__accordion li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#cetting .cetting__accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px;
}
#cetting .cetting__accordion li.open .link {
  color: #b63b4d;
}
#cetting .cetting__accordion li.open i {
  color: #b63b4d;
}
#cetting .cetting__accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
#cetting .cetting__accordion--submenu {
  display: none;
  background: black;
  font-size: 14px;
}
#cetting .cetting__accordion--submenu h1 {
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  color: #FFFFFF;
  margin: 10px;
}
#cetting .cetting__accordion--submenu li {
  border-bottom: 1px solid #4b4a5e;
}
#cetting .cetting__accordion--submenu a {
  display: block;
  text-decoration: none;
  color: #d9d9d9;
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
#cetting .cetting__accordion--submenu a:hover {
  background: #b63b4d;
  color: #FFF;
}
#cetting .cetting__accordion--accord {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
#cetting .cetting__accordion--accord h1 {
  color: #FFF;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  font-family: "inter", sans-serif;
  font-size: 16px;
  width: 20%;
}
#cetting .cetting__accordion--accord h2 {
  color: #FFF;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  font-family: "inter", sans-serif;
  font-size: 16px;
  width: 20%;
  line-height: 15px;
  text-align: start;
}
#cetting .cetting__accordion--accord p {
  font-size: 13px;
}
#cetting .cetting__searcher {
  display: flex;
  justify-content: space-between;
}
#cetting .cetting__searcher h1 {
  display: flex;
  color: #FFF;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  font-family: "inter", sans-serif;
  font-size: 58px;
}
#cetting .cetting__searcher h1 span {
  font-size: 76px;
}
#cetting .cetting__searcher h1 svg {
  margin-bottom: 20px;
}
#cetting .cetting__searcher--nav {
  display: flex;
}
#cetting .cetting__searcher--nav div {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 20px;
}
#cetting .cetting__searcher--nav div a {
  color: white;
  font-size: 32px;
}
#cetting .cetting__searcher h2 {
  color: #FFF;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  font-family: "inter", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  line-height: 42px;
}
#cetting .cetting__input {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}
#cetting .cetting__input input {
  width: 287px;
  height: 53px;
  border: 1px solid #B5B5B5;
  border-radius: 9px;
  background: transparent;
}
#cetting .cetting__input--ion {
  position: absolute;
  right: -5px;
  padding: 8.5px;
  color: white;
  background: #FE773B;
  border-radius: 2px;
  cursor: pointer;
}
#cetting .cetting__input--ion ion-icon {
  font-size: 35px;
}

#footer {
  background: black;
}
#footer .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}
#footer .footer h1 {
  color: #FFF;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  font-family: "inter", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: start;
}
#footer .footer__nav {
  display: flex;
}
#footer .footer__nav a {
  background: #767676;
  margin: 0 5px;
  padding: 10px;
}
#footer .footer__nav a :hover {
  transition: 0.5s;
  transform: scale(1.9) rotate(360deg);
  color: lightblue;
}
#footer .footer__nav a ion-icon {
  font-size: 20px;
  color: white;
}
#footer .footer__subtitle {
  display: flex;
  align-items: center;
}
#footer .footer__subtitle h2 {
  color: #FFF;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  font-family: "inter", sans-serif;
  font-size: 40px;
  margin-right: 10px;
}
#footer .footer__subtitle h2 svg {
  margin-bottom: 20px;
}

@keyframes key {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  25% {
    opacity: 0.3;
    transform: scale(0.3);
  }
  50% {
    opacity: 0.6;
    transform: scale(0.6);
  }
  75% {
    opacity: 0.9;
    transform: scale(0.9);
  }
  90% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes keys {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  25% {
    opacity: 1;
    transform: scale(1.2);
  }
  50% {
    opacity: 0.9;
    transform: scale(0.9);
  }
  75% {
    opacity: 0.6;
    transform: scale(0.6);
  }
  90% {
    opacity: 0.3;
    transform: scale(0.3);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

/*# sourceMappingURL=style.css.map */
