* {
  margin: 0;
  padding: 0;
  border: none;
}

a, a:hover {
  text-decoration: none;
}

ul, ol.li {
  list-style: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

body {
  font-family: "Inter", sans-serif;
}


#collection {
  background: black;
}
#collection .collection .collection__title {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
#collection .collection .collection__title h1 {
  color: #F7A659;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  padding-top: 30px;
}
#collection .collection .collection__title h2 {
  color: #FFF;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  font-family: "inter", sans-serif;
}
#collection .collection .collection__title select {
  color: #F7A659;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  font-size: 40px;
  background: none;
  width: 220px;
  margin-left: 455px;
}
#collection .collection .collection__blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#collection .collection .collection__blocks .collection__blocks--block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 345px;
  height: 91px;
  border: 1px solid #BCBCBC;
  border-radius: 13px;
  margin: 15px;
}
#collection .collection .collection__blocks .collection__blocks--block .collection__numbers {
  color: #FFF;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  font-family: "inter", sans-serif;
  font-size: 20px;
  margin-left: 5px;
}
#collection .collection .collection__blocks .collection__blocks--block .collection-image {
  position: relative;
}
#collection .collection .collection__blocks .collection__blocks--block .collection-image .collection-circle {
  position: absolute;
  top: 1px;
  right: 5px;
  width: 10px;
  height: 10px;
  background: #21D605;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
}
#collection .collection .collection__blocks .collection__blocks--block .collection-image ion-icon {
  position: absolute;
  color: #0C7BFE;
  bottom: 3px;
  right: 0;
  font-size: 21px;
}
#collection .collection .collection__blocks .collection__blocks--block .collection__subtitle h1 {
  color: #FFF;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  font-family: "inter", sans-serif;
  font-size: 18px;
}
#collection .collection .collection__blocks .collection__blocks--block .collection__subtitle p {
  color: #FFF;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  font-family: "inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align: start;
  line-height: 5px;
  margin-bottom: 15px;
}
#collection .collection .collection__blocks .collection__blocks--block .collection__block--subtitle {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 15px;
}
#collection .collection .collection__blocks .collection__blocks--block .collection__block--subtitle h1 {
  font-weight: 500;
  font-size: 13px;
  color: #21D605;
  margin-bottom: 3px;
}
#collection .collection .collection__blocks .collection__blocks--block .collection__block--subtitle h2 {
  color: #F7A659;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  font-size: 13px;
}
#collection .collection .collection__blocks .collection__blocks--block .collection__block--subtitle ion-icon {
  color: #C5C5C5;
}
#collection .collection__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#collection .collection__btn--circle {
  width: 38px;
  height: 66px;
  border: 1px solid #FFF;
  border-radius: 39px;
  margin-bottom: 100px;
}
#collection .collection__btn svg {
  margin-top: 130px;
}
#collection .collection__btn--button {
  background: transparent;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  padding: 20px 40px;
  border: 1px solid #FFFFFF;
  border-radius: 36px;

#header {
  background: black;
}
#header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header__logo {
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
}
#header .header__search {
  padding: 10px 0;
}
#header .header__search--input {
  width: 350px;
  height: 51px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 41px;
  background: transparent;
  font-weight: 500;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}
#header .header__search--input__icons {
  position: absolute;
  top: 30px;
  color: #FFFFFF;
}
#header .header__menu--item {
  font-weight: 500;
  font-size: 14px;
  color: #EEB563;
  padding: 0 10px;
  transition: 0.4s;
}
#header .header__menu--item a:hover {
  color: #EEB563;
  border-bottom: 2px solid #EEB563;
}
#header .header__icon {
  color: #FFFFFF;
}

#hero {
  background: black;
  min-height: 100vh;
}
#hero .hero__title {
  font-weight: 500;
  font-size: 20px;
  color: #EEB563;
  text-align: center;
  padding: 40px 0;
}
#hero .hero__img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#hero .hero__img--titles {
  font-weight: 500;
  font-size: 96px;
  color: #FFFFFF;
}
#hero .hero__content--title {
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  padding: 10px 0;
}
#hero .hero__border {
  position: absolute;
  top: 850px;
  left: 90px;
  width: 380px;
  height: 103px;
  border: 2px solid #FFFFFF;
  border-radius: 70px;
  transform: rotate(-90deg);
}
#hero .hero__borders {
  width: 89.44px;
  height: 32.66px;
  border: 1px solid #FFFFFF;
  border-radius: 39px;
}

