@import "reset";
@import "variables";
@import "media";

@mixin title($title: #F7A659) {
  color: $title;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

@mixin title2($title2: #FFF) {
  color: $title2;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  font-family: 'inter', sans-serif;
}

@mixin btn($btn: transparent) {
  background: $btn;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  padding: 20px 40px;
  border: 1px solid #FFFFFF;
  border-radius: 36px;
  cursor: pointer;
}
@mixin circle($circle: 1px solid #FFF){
  width: 38px;
  height: 66px;
  border: $circle;
  border-radius: 39px;
}

#collection {
  background: black;

  .collection {
    &__title {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;

      & h1 {
        @include title;
        padding-top: 30px;
      }

      & h2 {
        @include title2
      }

      & select {
        @include title;
        font-size: 40px;
        background: none;
        width: 220px;
        margin-left: 455px;
      }
    }

    &__blocks {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .collection__blocks--block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: 345px;
        height: 91px;
        border: 1px solid #BCBCBC;
        border-radius: 13px;
        margin: 15px;

        .collection__numbers {
          @include title2;
          font-size: 20px;
          margin-left: 5px;
        }

        .collection-image {
          position: relative;

          .collection-circle {
            position: absolute;
            top: 1px;
            right: 5px;
            width: 10px;
            height: 10px;
            background: #21D605;
            border: 1px solid #FFFFFF;
            border-radius: 50%;
          }

          & ion-icon {
            position: absolute;
            color: #0C7BFE;
            bottom: 3px;
            right: 0;
            font-size: 21px;
          }
        }

        .collection__subtitle {
          & h1 {
            @include title2;
            font-size: 18px;
          }

          & p {
            @include title2;
            font-size: 16px;
            font-weight: 300;
            text-align: start;
            line-height: 5px;
            margin-bottom: 15px;
          }
        }

        .collection__block--subtitle {
          display: flex;
          flex-direction: column;
          align-items: end;
          margin-right: 15px;

          & h1 {
            font-weight: 500;
            font-size: 13px;
            color: #21D605;
            margin-bottom: 3px;
          }

          & h2 {
            @include title;
            font-size: 13px;
          }

          & ion-icon {
            color: #C5C5C5;
          }
        }
      }
    }

    &__btn {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      &--circle {
        @include circle;
        margin-bottom: 100px;
      }
      & svg {
        margin-top: 130px;
      }
      &--button {
        @include btn;
      }
    }
    &__modal{
      z-index: 9;
      display: none;
      &--bg{
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.78);
        position: fixed;
        top: 0;
        left: 0;
        backdrop-filter: blur(4px);
        display: flex;
        justify-content: center;
        align-items: center;
        &__square{
          background: #be7a7a;
          border: 2px solid #2435A1;
          border-radius: 38px;
          width: 1171px;
          height: 603px;
          overflow-y: scroll;
          position: relative;
          z-index: 15;
          animation: .6s alternate key linear;
          &--close{
            position: fixed;
            font-size: 50px;
            color: wheat;
            cursor: pointer;
            top: 100px;
            right: 210px;
            animation :.5s alternate keys linear;
            ion-icon{

            }
          }
          p{
            color: lightyellow;
            font-family: "snell roundhand", cursive;
            margin: 30px;
            font-size: 40px;
          }
        }
      }
    }
  }
}
#header{
  background: black;

  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo{
      font-weight: 700;
      font-size: 24px;
      color: #FFFFFF;
    }
    &__search{
      padding: 10px 0;
      &--input{
        width: 350px;
        height: 51px;
        border: 1px solid rgba(255, 255, 255, 0.7);
        border-radius: 41px;
        background: transparent;
        font-weight: 500;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.7);

        &__icons{
         margin-top: 10px;
          margin-left: -29px;
          color: #FFFFFF;
        }
      }
    }
    &__menu{
      &--item{
        font-weight: 500;
        font-size: 14px;
        color: #EEB563;
        padding: 0 10px;
        transition: .4s;
        & a:hover{
          color: #EEB563;
          border-bottom: 2px solid  #EEB563;
        }
      }
    }
    &__icon{
      color: #FFFFFF;

    }
  }
}
#hero{
  background: black;
  min-height: 100vh;
  .hero{
    &__title{
      font-weight: 500;
      font-size: 20px;
      color: #EEB563;
      text-align: center;
      padding: 40px 0;
    }
    &__img{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      &--titles{
        font-weight: 500;
        font-size: 96px;
        color: #FFFFFF;
      }
    }
    &__content{
      &--title{
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
        padding: 10px 0;
      }
    }
    &__border{
      margin-top: 200px;
      margin-left: -90px;

      width: 380px;
      height: 103px;
      border: 2px solid #FFFFFF;
      border-radius: 70px;
      transform: rotate(-90deg);
    }
    &__card{
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      top: -300px;
      &--one{
        position: absolute;
        margin-top: 10px;
        margin-left: -200px;
      }
    }
    &__borderone{
      position: absolute;
      width: 211px;
      height: 78px;
      left: 1167px;
      top: 446px;
      border: 1px solid #FFFFFF;
      border-radius: 39px;
      transform: rotate(-90deg);
    }


    &__borders{
      position: absolute;
      width: 79px;
      height: 76px;
      left: 1096px;
      top: 748px;
      border: 1px solid #FFFFFF;
      border-radius: 50%;
      background: transparent;
    }
    &__bordertwo{
      position: absolute;
      width: 42px;
      height: 40px;
      left: 1011px;
      top: 1220px;
      border-radius: 50%;
      border: 1px solid #FFFFFF ;
      background: transparent;
    }
    &__one{
      margin-top: -400px;
      margin-left: 900px;
      &--two{
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF
      }
    }
    &__logo{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      padding: 200px 0;
      & h3{
        font-weight: 600;
        font-size: 40px;
        line-height: 48px;
        color: #FFFFFF;
      }
    }
    &__logos{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin: 50px;
    }
  }
}

#foremost{
  background: black;
  .foremost{
    &__title{
      &--one{
        font-weight: 500;
        font-size: 20px;
        color: #F1B864;
        text-align: center;

      }
      &--two{
        font-weight: 500;
        font-size: 32px;
        color: #FFFFFF;
        text-align: center;
      }
    }



    &__card{
      padding: 10px 10px;
    &--one{
      position: relative;
    }
    &--titless{
      position: absolute;
      margin-top: -200px;
      margin-left: 50px;
      & h2{
        font-weight: 600;
        font-size: 29px;
        line-height: 35px;
        color: #FFFFFF;
        text-align: center;

      }

      }
      & h6{
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        text-align: center;
        padding: 10px;
      }
      & button{
        width: 72.39px;
        height: 39.59px;
        background: #FE8B46;
        border: 1px solid #FFFFFF;
        border-radius: 40px;
        font-weight: 500;
        font-size: 14px;
        color: #FFFFFF;
        margin-left: 120px;
      }
    }
  }
    .cards{
      display: flex;
      justify-content: space-around;
      align-items: center;


    &__ai{
      position: absolute;
      width: 92px;
      height: 34px;
      left: 135px;
      top: 2684px;
      border: 1px solid #FFFFFF;
      border-radius: 39px;
      transform: rotate(-90deg);
    }
    &__li{
      position: absolute;
      width: 32px;
      height: 31px;
      left: 986px;
      top: 2600px;
      border: 1px solid #F4BF00;;
      border-radius: 50%;
      background: transparent;
    }
    &__fg{
      position: absolute;
      width: 32px;
      height: 31px;
      left: 1205px;
      top: 2663px;
      border: 1px solid #FE67EF ;
      border-radius: 50%;
      background: transparent;
    }

}
}

#discover{
  background: black;
  .discover{
    padding: 150px 0;
    &__title{
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #F1B864;
      text-align: center;
    }
    &__titles{
      font-weight: 500;
      font-size: 32px;
      line-height: 39px;
      color: #FFFFFF;
      text-align: center;
    }
    &__button{
      display: flex;
      justify-content: space-between;
      align-items: end;
      padding: 20px 0;
      &--one{
        width: 231px;
        height: 58px;
        border: 1px solid #FFFFFF;
        border-radius: 14px;
        font-weight: 200;
        font-size: 20px;
        color: #FFFFFF;
        background: transparent;
      }
      &--two{
        width: 161px;
        height: 63px;
        left: 1209px;
        top: 2811px;
        background: #FE8B46;
        border: 1px solid #FFFFFF;
        border-radius: 38px;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        text-align: center;
    }
    }
    &__dos{
     position: relative;
      padding: 30px 0;

      &--cards{
        position: relative;
      }
      &--card{
        position: absolute;
        margin-left: -299px;
        margin-top: 14px;
      }
    }
    &__bored {
      position: relative;
      margin-top: -166px;
      margin-left: 11px;
       & h3{
         font-weight: 500;
         font-size: 14px;
         color: #FFFFFF;

       }
      & h2{
        font-weight: 500;
        font-size: 20px;
        color: #FFFFFF;
      }
      & h4{
        font-weight: 500;
        font-size: 14px;
        color: #FFFFFF;
        margin-left: 256px;
        margin-top: -17px;

      }
      & h1{
        font-weight: 500;
        font-size: 15px;
        color: #FEAE51;
        margin-top: -24px;
        margin-left: 263px;
      }
      &--boreds{
        width: 284px;
        height: 0;
        border: 1px solid #A0A0A0;
        margin-top: 74px;
      }
     &--doss{
       padding: 5px 0;
       &__images{
         margin-left: 210px;
         margin-top: 12px;
       }
       & h4{
         font-weight: 500;
         font-size: 15px;
         color: #F4F4F4;
         margin-top: -25px;
       }
     }
      }
    .price{
      width: 1140px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      padding: 20px 0;
    }
    &__btn{
      position: absolute;
      width: 161px;
      height: 46px;
      left: 660px;
      top: 4432px;
      border: 1px solid #FFFFFF;
      border-radius: 36px;
      background: transparent;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: #FFFFFF;
    }
    }
  }






#create{
  background: black;
  .create{
    &__title{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 50px 0;
      margin-right: 150px;
      &--circle{
        @include circle;
        width: 199px;
        height: 47px;
        margin-bottom: 90px;
      }
      &--block{
        & h1{
          @include title
        }
        & h2{
          @include title2
        }
      }
      &--circle2{
        @include circle;
        width: 32px;
        height: 31px;
        margin-top: 100px;
      }
    }
    &__block{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 70px;
      & h1{
        @include title2;
        position: absolute;
        bottom: 170px;
        left: 140px;
        font-size: 52px;
      }
      & svg{
        position: absolute;
        bottom: 5px;
        left: 190px;
        transform: rotate(45deg);
      }
    }
  }
}
#cetting{
  background: black;
  .cetting{
    &__title{
      padding: 40px;
      h1{
        @include title;
      }
      & h2{
        @include title2
      }
      &--star{
        position: relative;
        & svg{
          position: absolute;
          right: 40px;
        }
      }
    }
    &__subtitle{
      display: flex;
      justify-content: space-between;
      h1{
        @include title;
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
    }
    &__btn{
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      &--circle{
        @include circle;
        height: 173px;
        margin-top: 220px;
      }
      & svg{
        position: absolute;
        bottom: 60px;
        left: 450px;
        transform: rotate(45deg);
      }
      & button{
        @include btn
      }
      &--circle2{
        @include circle;
        width: 32px;
        height: 31px;
        margin-bottom: 40px;
      }
    }
    &__accordion{
        width: 100%;
        margin: 30px auto 20px;
        background: #000000;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
      .accord-ion ion-icon{
        color: #FFFFFF;
        font-size: 50px;
        animation: accord-ion 1s linear ;
      }
      .accord-ion ion-icon:active{
        transform: rotate(-90deg);
      }

      .link {
        cursor: pointer;
        display: block;
        padding: 15px 15px 15px 42px;
        color: #4D4D4D;
        font-size: 14px;
        font-weight: 700;
        border-bottom: 1px solid #CCC;
        position: relative;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
      }

      li:last-child .link { border-bottom: 0; }

      li i {
        position: absolute;
        top: 16px;
        left: 12px;
        font-size: 18px;
        color: #595959;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
      }

      li i.fa-chevron-down {
        right: 12px;
        left: auto;
        font-size: 16px;
      }

      li.open .link { color: #b63b4d; }

      li.open i { color: #b63b4d; }

      li.open i.fa-chevron-down {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
      }


      &--submenu {
        display: none;
        background: black;
        font-size: 14px;

        h1 {
          font-weight: 600;
          font-size: 13px;
          line-height: 20px;
          color: #FFFFFF;
          margin: 10px;
        }


        li {
          border-bottom: 1px solid #4b4a5e;
        }

        a {
          display: block;
          text-decoration: none;
          color: #d9d9d9;
          padding: 12px;
          padding-left: 42px;
          -webkit-transition: all 0.25s ease;
          -o-transition: all 0.25s ease;
          transition: all 0.25s ease;
        }

        a:hover {
          background: #b63b4d;
          color: #FFF;
        }
      }
      &--accord{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        h1{
          @include title2;
          font-size: 16px;
          width: 20%;
       }
        h2 {
        @include title2;
        font-size: 16px;
          width: 20%;
          line-height: 15px;
          text-align: start;
        }
        p{
          font-size: 13px;
        }
      }
    }
    &__searcher{
      display: flex;
      justify-content: space-between;
      & h1{
        display: flex;
        @include title2;
        font-size: 58px;
        & span{
          font-size: 76px;
        }
        & svg{
          margin-bottom: 20px;
        }
      }
      &--nav{
        display: flex;
        & div{
          display: flex;
          flex-direction: column;
          align-items: end;
          margin: 020px;
          & a{
            color: white;
            font-size: 32px;
          }
        }
      }
      & h2{
        @include title2;
        font-family: 'Roboto',sans-serif;
        font-size: 36px;
        line-height: 42px;
      }
    }
    &__input{
      position: relative;
      display: flex;
      justify-content: flex-end;
      padding: 10px 0;
      & input{
        width: 287px;
        height: 53px;
        border: 1px solid #B5B5B5;
        border-radius: 9px;
        background: transparent;
      }
      &--ion{
        position: absolute;
        right: -5px;
        padding: 8.5px;
        color: white;
        background: #FE773B;
        border-radius: 2px;
        cursor: pointer;
        & ion-icon{
          font-size: 35px;
        }
      }
    }
  }
}
#footer{
  background: black;
  .footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    h1{
      @include title2;
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      text-align: start;
    }
    &__nav{
      display: flex;
      a{
        background: #767676;
        margin: 0 5px;
        padding: 10px;
        :hover{
          transition: .5s;
          transform: scale(1.9) rotate(360deg);
          color: lightblue;
        }
        ion-icon{
          font-size: 20px;
          color: white;
        }
      }
    }
    &__subtitle{
      display: flex;
      align-items: center;
      h2{
        @include title2;
        font-size: 40px;
        margin-right: 10px;
        svg{
          margin-bottom: 20px;
        }
      }
    }
  }
}
@keyframes key {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  25%{
    opacity: 0.3;
    transform: scale(0.3);
  }
  50%{
    opacity: 0.6;
    transform: scale(0.6);
  }
  75%{
    opacity: 0.9;
    transform: scale(0.9);
  }
  90%{
    opacity: 1;
    transform: scale(1.2);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes keys {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  25%{
    opacity: 1;
    transform: scale(1.2);
  }
  50%{
    opacity: 0.9;
    transform: scale(0.9);
  }
  75%{
    opacity: 0.6;
    transform: scale(0.6);
  }
  90%{
    opacity: 0.3;
    transform: scale(0.3);
  }
  100%{
    opacity: 0;
    transform: scale(0);
  }
}
